# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/
*-checkpoint.ipynb

# Generated data (recreated by running the notebook)
data/*.csv

# Virtual environments
venv/
.venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Colab / Jupyter runtime artifacts
.ipynb_checkpoints
*.log
